@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #fff9b3;
	font-family: Montserrat, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
    font-size: larger;
    font-weight: 900;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
    font-size:small;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #ffff98;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #202020;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .round {
	border: 1px solid #303030;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #303030;
	border: 1px solid #303030;
	border-radius: 3px;
	color: #ffff98;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
    margin-top: 3px;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #303030;
    margin-top: 3px;
    font-weight: 600;
    margin-bottom: 5px;
}

.skills {
	background-color: #fff9b3;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 2px solid #ffff98;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}


.color_button{
    height: 30px;
    width: 30px;
    margin: 1px;
    border-radius: 50%;
    border: none;
}

#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: #2c2549;
}

#yellow{
    background-color: yellow;
}

